.ipynb_checkpoints
.lingma_storage
.virtual_documents
miniconda3
miniconda.sh
RAG/documents
RAG/vector_test
RAG/vectorDB
document
models
data/full_response_A001.json
data/full_response_A002.json
data/full_response_A004.json
data/full_response_A003.json
data/full_response_A007_300_100_5.json
.gitignore
data/full_response_A008_400_200_5.json
data/6666.json
